body {
    background-color: #1A1A1E;
    color: white;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

.navbar {
    background-color: #272759;
    color: white;
}

.navbar-title {
  text-decoration: none; /* remove sublinhado */
  color: inherit;        /* usa a cor do pai */
}

.custom-sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  background-color: #f8f9fa;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  transition: left 0.3s ease;
  z-index: 1040;
}

.custom-sidebar.open {
  left: 0;
}

/* Botão de fechar no canto superior direito */
.btn-close-sidebar {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.home_item {
  background-color: #373737;
  border-radius: 10px;
}

.home_item:hover {
  background-color: #545454;
  cursor: pointer;
}